<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="tests/.phpunit.cache"
         executionOrder="default"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <file>tests/Integration/DeviceApiTest.php</file>
            <file>tests/Integration/AdminPanelTest.php</file>
            <file>tests/Integration/InstallerTest.php</file>
            <file>tests/Integration/UpdaterTest.php</file>
            <file>tests/Integration/TenancyTest.php</file>
            <file>tests/Integration/PlatformTest.php</file>
            <file>tests/Integration/MigrationUpgradeTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
